<h2>Ajouter un Slot</h2>
<form {{action 'addSlot' on='submit'}}>
    <div class="form-group">
        <label for="slot-theme">Themes</label>
        <select id="slot-theme" class="form-control" value={{selectedThemeId}} onchange={{action 'setSelectedThemeId' value='target.value'}}>
            {{#each themes as |theme|}}
                <option value={{theme.id}}>{{theme.title}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
        <label for="slot-title">Nom</label>
        {{input id="slot-title" type="text" class="form-control" value=slotTitle}}
    </div>

    <button type="submit" class="btn btn-primary" id="add-slot">Ajouter</button>
</form>